fastapi
uvicorn
streamlit
openai
faiss-cpu
langchain
langchain-openai
langchain-community
langchain-text-splitters
langgraph
python-dotenv
pypdf
tiktoken
presidio-analyzer
presidio-anonymizer
spacy
boto3
pydantic
sqlalchemy